In [1]:
#importing libraries dataset
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('weight-height.csv')

In [3]:
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [4]:
df.shape

(8555, 3)

In [5]:
df.replace(to_replace=["Male", "Female"], value=[1,0], inplace=True) #male=1 ' female=0'

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8555 entries, 0 to 8554
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  8555 non-null   int64
 1   Height  8555 non-null   float64
 2   Weight  8555 non-null   float64
dtypes: float64(2), int64(1)
memory usage: 200.6 KB

In [7]:
df.head()

   Gender     Height      Weight
0       1  73.847017  241.893563
1       1  68.781904  162.310473
2       1  74.110105  212.740856
3       1  71.730978  220.042470
4       1  69.881796  206.349801

In [8]:
df.Gender.value_counts()

1    5000
0    3555
Name: Gender, dtype: int64

# Step 01 - Regression

In [9]:
#Seperate x,y
x = df.drop('Weight', axis=1)
y = df[['Weight']]

In [10]:
x.head()

   Gender     Height
0       1  73.847017
1       1  68.781904
2       1  74.110105
3       1  71.730978
4       1  69.881796

In [11]:
y.head()

       Weight
0  241.893563
1  162.310473
2  212.740856
3  220.042470
4  206.349801

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=.30, random_state=0)

In [14]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression() 
lr.fit(xtrain, ytrain)

LinearRegression()

In [15]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [16]:
mse = mean_squared_error(ytest, lr.predict(xtest))

In [17]:
mse

102.30154155088874

In [18]:
lr.score(xtest, ytest)

0.9025307579174771

In [19]:
lr.score(xtrain, ytrain)

0.8988118427483529

KNN Regressor

In [20]:
from sklearn.neighbors import KNeighborsRegressor

In [29]:
import math

In [30]:
math.sqrt(len(ytest))

50.665570163573605

In [31]:
knn_regressor = KNeighborsRegressor(n_neighbors=51) #k=square root of y testing data

In [32]:
knn_regressor.fit(xtrain, ytrain)

KNeighborsRegressor(n_neighbors=51)

In [33]:
mse = mean_squared_error(ytest, knn_regressor.predict(xtest))

In [34]:
mse

106.28955710589462

In [35]:
knn_regressor.score(xtest, ytest)

0.898731119635718

In [36]:
knn_regressor.score(xtrain, ytrain)

0.8998383384033044

# Step 02 - Classification

In [37]:
x = df.drop('Gender', axis=1)
y = df[['Gender']]

In [ ]:
y.head()

   Gender
0       1
1       1
2       1
3       1
4       1

In [38]:
x.head()

      Height      Weight
0  73.847017  241.893563
1  68.781904  162.310473
2  74.110105  212.740856
3  71.730978  220.042470
4  69.881796  206.349801

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=.30, random_state=0)

In [42]:
from sklearn.neighbors import KNeighborsClassifier
clf = KNeighborsClassifier(n_neighbors=51) 
clf.fit(xtrain, ytrain)

/usr/local/lib/python3.8/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=51)

In [43]:
clf.score(xtest, ytest)

0.9154655239579276